# Importando o DataSet

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
# Carregar o DataFrame Titanic
df_titanic = sns.load_dataset('titanic')

> Como visto na aula anterior, uma das etapas mais importantes do **Pré-Processamento** é o que chamamos de **Imputação.**

> Nela, tratamos valores vazios e removemos dados indesejados.

- Agora, a partir do DataSet titânic, faça a imputação dos a dados a partir das exigências!

## Imputação

Decisões em cima dos dados vazios:
- **Média**
  - Desvio Padrão
- **Moda**
- **Mediana**
- **Remoção Total:** Remoção de todos os valores faltantes, importante para colunas inuteis.

Funções usadas:
- `.fillna()` : preenche os valores vazios com algum valor.
    - `.fillna(df['exemplo'].mean(), inplace=True)`
- `.replace()` : substitui um valor por outro.
    - `df['floor'].replace('-', np.nan)`
- `.dropna()` : remove linhas que contem valores vazios.
    - `dropna(subset=['exemplo'], inplace=True)`
- `drop()` : remove uma coluna.
    - `.drop(columns=['exemplo_1', 'exemplo_2', ..., 'exemplo_n'], inplace=True)`

obs: o uso do `inplace=True`, faz com que os dados alterados, sejam alterados no DataFrame príncipal.

In [ ]:
df_titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df_titanic.shape

(891, 15)

In [ ]:
df_titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

1. Imputação da coluna 'age' com a mediana

In [ ]:
# mostrando valores ausentes antes da imputacao
print("Valores ausentes antes da imputação: ", df_titanic['age'].isnull().sum())

Valores ausentes antes da imputação:  177

In [ ]:
# printando a coluna 'age' para mostrar valores ausentes
print(df_titanic[['age']].tail(15))

      age
876  20.0
877  19.0
878   NaN
879  56.0
880  25.0
881  33.0
882  22.0
883  28.0
884  25.0
885  39.0
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

In [ ]:
# calculando a mediana
mediana_idade = df_titanic['age'].median()
print("Mediana da coluna 'age': ", mediana_idade)

Mediana da coluna 'age':  28.0

In [ ]:
# imputação dos valores ausentes
df_titanic['age'].fillna(mediana_idade, inplace=True)

In [ ]:
#conferindo os valores ausentes
print("Valores ausentes apos imputacao: ", df_titanic['age'].isnull().sum())

Valores ausentes apos imputacao:  0

In [ ]:
# dataframe com os valores depois da imputação
print(df_titanic[['age']].tail(15))

      age
876  20.0
877  19.0
878  28.0
879  56.0
880  25.0
881  33.0
882  22.0
883  28.0
884  25.0
885  39.0
886  27.0
887  19.0
888  28.0
889  26.0
890  32.0

2. Decisão de remover valores faltantes na coluna 'embark_town'

In [ ]:
# printando valores da coluna 'embark_town'
print(df_titanic[['embark_town']].head())

   embark_town
0  Southampton
1    Cherbourg
2  Southampton
3  Southampton
4  Southampton

In [ ]:
# printando quantidade de valores faltantes da coluna 'embark_town'
print("quantidade de valores faltantes: ", df_titanic['embark_town'].isnull().sum())

quantidade de valores faltantes:  2

In [ ]:
# drop das linhas que possuem valores faltantes da coluna 'embark_town' e print para conferir os valores faltantes
df_titanic.dropna(subset=['embark_town'], inplace=True)

In [ ]:
print("quantidade de valores faltantes: ", df_titanic['embark_town'].isnull().sum())

quantidade de valores faltantes:  0

3. Remover colunas 'Alive', 'Class', 'embarked', 'deck', 'alive', 'adult_male' e 'embark_town'

In [ ]:
# drop das colunas selecionadas
df_titanic.drop(columns=['alive', 'class', 'embarked', 'deck', 'adult_male', 'embark_town'], inplace=True)

In [ ]:
# mostrando o dataframe apos retirada das colunas
df_titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare    who  alone
0         0       3    male  22.0      1      0   7.2500    man  False
1         1       1  female  38.0      1      0  71.2833  woman  False
2         1       3  female  26.0      0      0   7.9250  woman   True
3         1       1  female  35.0      1      0  53.1000  woman  False
4         0       3    male  35.0      0      0   8.0500    man   True

- A decisão de remover estas colunas, se da pelas redundancias delas.

Verificação

In [ ]:
# Verifique novamente os valores ausentes
df_titanic.isnull().sum()

survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
who         0
alone       0
dtype: int64

In [ ]:
# Me de o resumo do DataFrame
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  889 non-null    int64
 1   pclass    889 non-null    int64
 2   sex       889 non-null    object
 3   age       889 non-null    float64
 4   sibsp     889 non-null    int64
 5   parch     889 non-null    int64
 6   fare      889 non-null    float64
 7   who       889 non-null    object
 8   alone     889 non-null    bool
dtypes: bool(1), float64(2), int64(4), object(2)
memory usage: 63.4+ KB

In [ ]:
df_titanic.shape

(889, 9)

In [ ]:
df_titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  889.000000  889.000000  889.000000  889.000000  889.000000  889.000000
mean     0.382452    2.311586   29.315152    0.524184    0.382452   32.096681
std      0.486260    0.834700   12.984932    1.103705    0.806761   49.697504
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   22.000000    0.000000    0.000000    7.895800
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
# Visualize novamente a cabeça do DataFrame
df_titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare    who  alone
0         0       3    male  22.0      1      0   7.2500    man  False
1         1       1  female  38.0      1      0  71.2833  woman  False
2         1       3  female  26.0      0      0   7.9250  woman   True
3         1       1  female  35.0      1      0  53.1000  woman  False
4         0       3    male  35.0      0      0   8.0500    man   True